<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- jdbc stuff -->
		<property name="hibernate.connection.username">jdbc_user</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.url">
			jdbc:postgresql://palkrom-db.cqdncewen1wb.us-east-2.rds.amazonaws.com:5432/proj2
		</property>
		<property name="hibernate.connection.driver.class">org.postgresql.Driver</property>
		<property name="hibernate.default_schema">public</property>
		
		<!-- additional hibernate configuration -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.show_sql">true</property>
		<property name="hibernate.connection.format_sql">true</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<mapping resource="hibernate.hbm.xml"/>
	</session-factory>

</hibernate-configuration>
