/* Element Region : FormInfo{ Email Input, Password, Submit button}*/
/*FormInfo:  Element Region end*/
/* Element Region : Page Navagation{ Home Button} */
/* Page Navagation : Region End */
body {
	min-height: fit-content;
	min-width: 100%;
	background-image: url("../assets/Main/MainPage.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.TextForLogin {
	p {
		color: white;
		text-align: center;
		padding-left: 20px;
		margin-top: 20px;
	}
}
#SubmitButton {
	margin-top: 15px;
}
#LoginElements {
	margin-top: 10%;
	height: 40%;
	border-radius: 20px;
	background-color: rgb(175, 70, 49);
}
.mainLink {
	color: white;
}
#EmailInput {
	margin-top: 20px;
}
#LoginForm {
	margin-top: 100px;
	background-image: url("../assets/LoginPage/Loginfork.png");
	background-repeat: no-repeat;
	background-size: 45%;
	border-radius: 20px;
}
.container {
	div {
		margin-left: 40%;
	}
	label {
		color: white;
		margin: auto;
	}
	input {
		margin-left: auto;
	}
}
.MainButtons {
	a {
		text-decoration: none;
	}
	li {
		display: inline-block;
		margin: 20px;
		margin-left: 50px;
	}
	background-color: tomato;
	list-style: none;
	background-size: cover;
}
.LinkElements {
	margin-left: 65%;
}
