body{
    min-height: fit-content;
    min-width: 100%;
    background-image: url("../assets/Main/MainPage.png");
    background-size: cover;
    
    background-repeat: no-repeat;
}

/* Element Region : FormInfo{ Email Input, Password, Submit button}*/

.TextForLogin p{
    color:white;
    text-align:center;
    padding-left: 20px;
    margin-top: 20px;
    
}


#SubmitButton{
    margin-top: 15px;
}

#LoginElements{
    margin-top: 10%;
    height: 40%;
    border-radius: 20px;
}

.mainLink{
    color:white;
    
}

#EmailInput{
    margin-top: 20px;
}

#LoginForm{
    margin-top: 100px;
    background-image: url("../assets/LoginPage/Loginfork.png");
    background-repeat: no-repeat;
    background-size: 45%;
    border-radius: 20px;
}

#LoginElements{
    background-color: rgb(175, 70, 49);
}

.container div{
    
    margin-left: 40%;
}
.container label{
    
    color: white;
    margin: auto; 
      
}
.container input{

    margin-left: auto;
}


/*FormInfo:  Element Region end*/


/* Element Region : Page Navagation{ Home Button} */

.MainButtons a{
    text-decoration: none;
}

.MainButtons li{
    display: inline-block;
    margin: 20px;
    margin-left: 50px;
    
}

.LinkElements{
    margin-left: 65%;
    
}

.MainButtons
 {
    background-color:tomato;
    
    list-style: none;
    background-size: cover;
}

/* Page Navagation : Region End */

