/* Element Region : Page Navagation{ Home Button} */
/* Page Navagation {End Region} */
/* Element Region : FormInfo{ Email Input, Password, Submit button} */
.LinkElements {
	margin-left: 65%;
}
.MainButtons {
	background-color: tomato;
	list-style: none;
	background-size: cover;
}
#SubmitButton {
	margin-top: 15px;
}
#RegisterElements {
	background-color: rgb(175, 70, 49);
	border-radius: 20px;
}
.mainLink {
	color: white;
}
#FirstName {
	margin-top: 9px;
}
#RegisterForm {
	margin-top: 70px;
	margin-right: 20px;
	background-image: url("../assets/Register/Registure.png");
	background-repeat: no-repeat;
	background-size: 70%;
	border-radius: 20px;
}
.TextForRegister {
	p {
		color: white;
		text-align: center;
		padding-left: 5px;
		margin-top: 20px;
	}
}
.container {
	div {
		margin-left: 40%;
	}
	label {
		color: white;
		margin: auto;
	}
	input {
		margin-top: 4%;
		margin-left: auto;
	}
}
.SpaceNeededDiv {
	margin-top: 10%;
}
